**In-memeory fast tabular computing --> Dataframes solved -Pandas**

In [6]:
import pandas as pd 
d = { "name":["a","b","c"], #row - records , column - features
      "marks":[1,2,3]
    }
df = pd.DataFrame(d)
df

  name  marks
0    a      1
1    b      2
2    c      3

Column-based operations

Row selection

Filtering

Descriptive statistics

In [7]:
df["marks"] += 10
df

  name  marks
0    a     11
1    b     12
2    c     13

In [21]:
df.loc[0]  #row with index label 0
df.iloc[0] #first row (row #0)

name      a
marks    11
Name: 0, dtype: object

In [11]:
df[df["marks"]>11]   #label --> [S.No]

  name  marks
1    b     12
2    c     13

In [15]:
df.at[1,"name"] = "sow" #change the name using index

In [16]:
df

  name  marks
0    a     11
1  sow     12
2    c     13

In [17]:
df.at[1,"name"] = "b"
df

  name  marks
0    a     11
1    b     12
2    c     13

In [19]:
df.loc[1]

name      b
marks    12
Name: 1, dtype: object

In [20]:
df.iloc[1]

name      b
marks    12
Name: 1, dtype: object

In [22]:
df.describe()

       marks
count    3.0
mean    12.0
std      1.0
min     11.0
25%     11.5
50%     12.0
75%     12.5
max     13.0

**Reading files from**

CSV
JSON
Excel
SQL Queries
HTML
TSV

**1. CSV (Comma-Seperated Values)**

Origin: Oldest tabular test format(1970s). Columns seperated by commas

In [24]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")
df.head() #5 records

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

**2.JSON(JavaScript Object Notation)**

Origin:Created in early 2000s from JavaScript object structure. Great for nested data.

In [34]:
df=pd.read_json("https://raw.githubusercontent.com/graphql-compose/graphql-compose-examples/master/examples/northwind/data/json/employees.json")
df

,employeeID,lastName,firstName,title,titleOfCourtesy,birthDate,hireDate,address,notes,reportsTo,territoryIDs
0,2,Fuller,Andrew,Vice President Sales,Dr.,1952-02-19 00:00:00.000,1992-08-14 00:00:00.000,"{'street': '908 W. Capital Way', 'city': 'Taco...",Andrew received his BTS commercial in 1974 and...,NULL,"[1730, 1833, 2116, 2139, 2184, 40222, 1581]"
1,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04 00:00:00.000,1993-10-17 00:00:00.000,"{'street': '14 Garrett Hill', 'city': 'London'...",Steven Buchanan graduated from St. Andrews Uni...,2,"[2903, 7960, 8837, 10019, 10038, 11747, 14450]"
2,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08 00:00:00.000,1992-05-01 00:00:00.000,"{'street': '507 20th Ave. E. Apt. 2A', 'city':...",Education includes a BA in psychology from Col...,2,"[6897, 19713]"
3,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30 00:00:00.000,1992-04-01 00:00:00.000,"{'street': '722 Moss Bay Blvd.', 'city': 'Kirk...",Janet has a BS degree in chemistry from Boston...,2,"[30346, 31406, 32859, 33607]"
4,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19 00:00:00.000,1993-05-03 00:00:00.000,"{'street': '4110 Old Redmond Rd.', 'city': 'Re...",Margaret holds a BA in English literature from...,2,"[20852, 27403, 27511]"
5,6,Suyama,Michael,Sales Representative,Mr.,1963-07-02 00:00:00.000,1993-10-17 00:00:00.000,"{'street': 'Coventry House Miner Rd.', 'city':...",Michael is a graduate of Sussex University (MA...,5,"[85014, 85251, 98004, 98104, 98052]"
6,7,King,Robert,Sales Representative,Mr.,1960-05-29 00:00:00.000,1994-01-02 00:00:00.000,"{'street': 'Edgeham Hollow Winchester Way', 'c...",Robert King served in the Peace Corps and trav...,5,"[60601, 80202, 80909, 90405, 94025, 94105, 950..."
7,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09 00:00:00.000,1994-03-05 00:00:00.000,"{'street': '4726 11th Ave. N.E.', 'city': 'Sea...",Laura received a BA in psychology from the Uni...,2,"[19428, 44122, 45839, 53404]"
8,9,Dodsworth,Anne,Sales Representative,Ms.,1966-01-27 00:00:00.000,1994-11-15 00:00:00.000,"{'street': '7 Houndstooth Rd.', 'city': 'Londo...",Anne has a BA degree in English from St. Lawre...,5,"[3049, 3801, 48075, 48084, 48304, 55113, 55439]"

**3.Excel(.xlsx/..xls)**

In [37]:
df = pd.read_excel("students.xlsx")
df

FileNotFoundError: [Errno 2] No such file or directory: 'students.xlsx'

**4.SQL Queries**

Origin:SQL invented at IBM in 1970s for relational databases.

In [39]:
import sqlite3
conn = sqlite3.connect("students.db")
df = pd.read_sql_query("SELECT * FROM students",conn)
df

DatabaseError: Execution failed on sql 'SELECT * FROM students': no such table: students

**5.HTML Tables**

Origin:HTML tables were introduced in 1995 fro web page tabular layout.

In [42]:
table = pd.read_html("students.html")
df = table[0]
df

C:\Users\NFT\AppData\Local\Temp\ipykernel_19104\1813783582.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html("students.html")

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

**6.TSV(Tab-Seperated Values)**

In [43]:
df = pd.read_csv("students.tsv",sep="\t")
print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'students.tsv'

**1.SQLite Connectivity + CRUD**

Connection 
Create table
Insert
Read
Update
Delete

**1.Connect**

In [45]:
import sqlite3

conn = sqlite3.connect("student.db")
cursor = conn.cursor()

**2.Create Table**

In [46]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    first_name TEXT,
    last_name TEXT,
    email TEXT
)
""")

**3.Insert Records**

In [50]:
#Insert one
cursor.execute("INSERT INTO students VALUES(?, ?, ?)",
               ("Arun", "Kumar", "arun@gamil.com"))
df = pd.read_sql_query("SELECT * FROM students",conn)
df

  first_name last_name           email
0       Arun     Kumar  arun@gamil.com
1       Arun     Kumar  arun@gamil.com
2       Arun     Kumar  arun@gamil.com

In [51]:
#Insert many
records = [
    ("Meera","Shah","meera@gmail.com"),
    ("Sowbi","Mohan","sowbi@gmail.com")
]
cursor.executemany("INSERT INTO students VALUES (?, ?, ?)", records)

df = pd.read_sql_query("SELECT * FROM students",conn)
df

  first_name last_name            email
0       Arun     Kumar   arun@gamil.com
1       Arun     Kumar   arun@gamil.com
2       Arun     Kumar   arun@gamil.com
3      Meera      Shah  meera@gmail.com
4      Sowbi     Mohan  sowbi@gmail.com

**4.Read(SELECT)**

In [53]:
cursor.execute("SELECT rowid, * FROM students")
print(cursor.fetchall())

[(1, 'Arun', 'Kumar', 'arun@gamil.com'), (2, 'Arun', 'Kumar', 'arun@gamil.com'), (3, 'Arun', 'Kumar', 'arun@gamil.com'), (4, 'Meera', 'Shah', 'meera@gmail.com'), (5, 'Sowbi', 'Mohan', 'sowbi@gmail.com')]

**5.Update**

In [54]:
cursor.execute("""
UPDATE students
SET first_name = 'Python'
WHERE rowid = 1
""")
df = pd.read_sql_query("SELECT * FROM students",conn)
df

  first_name last_name            email
0     Python     Kumar   arun@gamil.com
1       Arun     Kumar   arun@gamil.com
2       Arun     Kumar   arun@gamil.com
3      Meera      Shah  meera@gmail.com
4      Sowbi     Mohan  sowbi@gmail.com

**6.Delete**

In [55]:
cursor.execute("DELETE FROM students WHERE rowid = 3")
df = pd.read_sql_query("SELECT * FROM students",conn)
df

  first_name last_name            email
0     Python     Kumar   arun@gamil.com
1       Arun     Kumar   arun@gamil.com
2      Meera      Shah  meera@gmail.com
3      Sowbi     Mohan  sowbi@gmail.com

**Commit + Close**

In [56]:
conn.commit()
conn.close()

**Student Database System**

In [61]:
import sqlite3

#-----------------Database Setup--------------------
def connect_db():
    conn = sqlite3.connect("students.db")
    return conn
#-----------------CRUD Fucntions--------------------
def create_table():
    conn = connect_db()
    cur = conn.cursor()
    cur.execute('''CREATE TABLE IF NOT EXISTS students(
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    age INTEGER,
                    grade TEXT)''')
    conn.commit()
    conn.close()
    print("Table created successfully.")

def insert_student(name, age, grade):
    conn = connect_db()
    cur = conn.cursor()
    cur.execute("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)",
                (name, age, grade))
    conn.commit()
    conn.close()
    print(f"Student added: {name}, Age: {age}, Grade: {grade}")

def view_students():
    conn = connect_db()
    cur = conn.cursor()
    cur.execute("SELECT * FROM students")
    rows = cur.fetchall()
    conn.close()
    print("All Students:")
    for row in rows:
        print(row)

def update_students(student_id, grade):
    conn = connect_db()
    cur = conn.cursor()
    cur.execute("UPDATE students SET grade = ? WHERE id = ?",
                (grade, student_id))
    conn.commit()
    conn.close()
    print(f"Updated student ID {student_id} to Grade {grade}")

def delete_student(student_id):
    conn = connect_db()
    cur = conn.cursor()
    cur.execute("DELETE FROM students WHERE id = ?", (student_id,))
    conn.commit()
    conn.close()
    print(f"Deleted student ID {student_id}")
    
#-----------------------------Main Execution-----------------------------------
if __name__ == "__main__":
    create_table()
    insert_student("ALice", 20, "A")
    insert_student("Bob", 21, "B")
    view_students()
    update_students(1, "A+")
    delete_student(2)
    view_students()
    print("Program executed successfully.")

Table created successfully.
Student added: ALice, Age: 20, Grade: A
Student added: Bob, Age: 21, Grade: B
All Students:
(1, 'ALice', 20, 'A')
(2, 'Bob', 21, 'B')
(3, 'ALice', 20, 'A')
(4, 'Bob', 21, 'B')
Updated student ID 1 to Grade A+
Deleted student ID 2
All Students:
(1, 'ALice', 20, 'A+')
(3, 'ALice', 20, 'A')
(4, 'Bob', 21, 'B')
Program executed successfully.

try: Contains code that might raise an excception.
except: Catches and handles the exception.
else: Runs only if no exception occurs.
finally: Runs always (cleanup code).

In [72]:
try:
    y = 10 / 0
    print("hi try")
except:
    print("Please enter a valid number") # if except is executed else part is not print 
else:
    print("No error occured.")
finally:
    print("Program ended.")

Please enter a valid number
Program ended.

In [63]:
try:
    print("hi try")
except:
    y = 10 / 0
    print("Please enter a valid number") #if except is not execute the else part is printed
else:
    print("No error occured.")
finally:
    print("Program ended.")

hi try
No error occured.
Program ended.

In [67]:
try:
    print("hi try")
except:
    print("Please enter a valid number") #if except is not execute the else part is printed
else:
    y = 10 / 0
    print("No error occured.")
finally:
    print("Program ended.")

hi try
Program ended.

ZeroDivisionError: division by zero

In [71]:
try:
    y = 10 / 2
    print("hi try")
except:
    print("Please enter a valid number") # if except is executed else part is not print 
else:
    print("No error occured.")
finally:
    print("Program ended.")

hi try
No error occured.
Program ended.

In [75]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
    lst = [1, 2, 3]
    print(lst[num])
except ZeroDivisionError:
    print("You cannot divide by zero.")
except IndexError:
    print("Index out of range.")
except Exception as e:
    print("Some other error occured.")
else:
    print("No exception occured.")
finally:
    print("Program finished.")

Enter a number:  2

3
No exception occured.
Program finished.

In [79]:
try:
     print("Outer try block start")
     try:
         x = int(input("Enter a number: "))
         y = 10 / x
         print("Result: ",y)
     except ValueError:
         print("Inner block: Division by zero error.")
     finally:
         print("Inner finally executed.")
except ZeroDivisionError: 
    print("Outer block: Invalid input (not a number).")
finally:
     print("Outer finally executed.")

Outer try block start

Enter a number:  2

Result:  5.0
Inner finally executed.
Outer finally executed.

In [80]:
#Example 2: Raising Inside try except
try:
    raise ZeroDivisionError("Manual division error!")
except ZeroDivisionError as e:
    print("Caught:",e)
#the raised error is caught and handled.

Caught: Manual division error!

In [82]:
#Example 3: Raising 
class AgeError(Exception):
    """Custom exception for invalid age."""
    pass
age = int(input("Enter age: "))
if age < 18:
    raise AgeError("You must be 18 or older!")

Enter age:  18

In [84]:
#Example 4: Re-raising on Exception
try:
    x = 10 / 0
except ZeroDivisionError as e:
    print("Logging error:", e)
    raise     #re-raises the same exception

Logging error: division by zero

ZeroDivisionError: division by zero

**Day -3**  

**Logging**

**custom loggers**

In [88]:
import logging
logger = logging.getLogger(__name__)
logger.info("test the custom logger")
print(logger)

<Logger __main__ (WARNING)>

**Which of the following is not valid?**

1. d= {10:"Jack",20:"Eric"}
2. d= {"Jack":10,"Eric":20}
3. d= {["Pytho","Java"]:"Jack",["english"]:"Eric"} - not valid
4. d= {("Pytho","Java"):"Jack",("english"):"Eric"}

**Why encapsulation**

In [94]:
movieA = {"Vijay":["t","e"],"AK":["t","e"]}
movieB = {"Sam":["t","e","m"],"Sai":["b","e","t"],"Vijay":["t","e","h"]}
def update(movie):
    name = input()
    lang = input()
    movie[name].append(lang)
update(movieB)
print(movieA)
print(movieB)

 Vijay
 m

{'Vijay': ['t', 'e'], 'AK': ['t', 'e']}
{'Sam': ['t', 'e', 'm'], 'Sai': ['b', 'e', 't'], 'Vijay': ['t', 'e', 'h', 'm']}

**Class**

In [100]:
class Test:
    def m(self):
        print("hi")
#obj = Test()
#obj.m()
Test.m(obj)
#Test.m() ->without self

hi

In [103]:
class Test:
    def m(a):
        print("hi")
#obj = Test()
#obj.m()
#Test.m(obj, 10)
Test.m(10) #->without self, a

hi

**dunder/magic methods**

In [ ]:
__init__
__dict__
__sizeof__

In [113]:
class A:
    def __init__(self):
        self.mylist = {"Jack":["C"],"Bala":["Python","C","Java","C++"]}
        print("hello guys")
    def update(self):
        name = input()
        skill = input()
        self.mylist[name].append(skill)
    def view(self):
        print(f"slist: {self.mylist}")
obj = A()
#obj.initialization() #if this init is given the def will change into initialization instead of __init__ 
obj.update()   #if __init__ is given in the def the obj.initialization is not used (it will be used when first def is changed into initialization)
obj.view()

hello guys

 Jack
 C++

slist: {'Jack': ['C', 'C++'], 'Bala': ['Python', 'C', 'Java', 'C++']}

In [114]:
#sizeof
a = 5
print(type(a))
a.__sizeof__()
b = 50000000000
print(type(b))
b.__sizeof__()
#in python size and range is dynamic

<class 'int'>
<class 'int'>

32

In [118]:
#dict
class A:
    def fun(self):
        a = 10 #local variable (it doen't allocate memory in object)
        b = 20
    def fun1(self):
        self.a = 10 #instance variable or object variable
        self.b = 20
obj1 = A()
obj2 = A()
obj1.fun()
print(f"obj1: {obj1.__dict__}") #the self keyword is not given in the variable so the dict is empty
obj2.fun1()
print(f"obj2: {obj2.__dict__}")

obj1: {}
obj2: {'a': 10, 'b': 20}

**from abc import ABC, abstractmethod**

In [127]:
from abc import ABC, abstractmethod  #--> Parent class is not implement ,child class is implement when using the abstractmethod
class Parent(ABC):
    @abstractmethod
    def marraige(self):
        pass  #to delay using the pass (we don't left any part like empty in python so we use the pass)
class Child(Parent):
    def marraige(self):
        print("Kathija")
obj = Child()
obj.marraige()

Kathija

In [128]:
#Aggregation (Weak "has-a" relationship)
#The contained object can exist independently of the container.
class Engine:
    def start(self):
        print("Engine started")

class Car:
    def __init__(self):
        self.engine = engine  #Engine is passed in (aggregation)

    def drive(self):
        self.engine.start()
        print("Car is moving")

eng = Engine()
car = Car(eng)
car.drive()
'''
Engine exists outside the Car.
Even if Car is destroyed, Engine still exists.
Loose coupling.
'''

TypeError: Car.__init__() takes 1 positional argument but 2 were given

In [130]:
#no overloading - *args/*kwargs
class A:
    def m1(a):
        print("m1")
    def m1():
        print("m1-a")
A.m1(5)    #--> Error
A.m1()

m1-a

TypeError: A.m1() takes 0 positional arguments but 1 was given

In [133]:
class P:
    def marraige(self):
        print("Kanmani")
class C(P):
    def marraige(self):
        print("Kathija")
obj1 = P()
obj1.marraige()

Kanmani

In [134]:
class Student:
    def __init__(self,name,age):  #Constructor
        self.name = name
        self.age = age
        print("Constructor called")

s1 = Student("Arun", 20)
print(s1.name, s1.age)

Constructor called
Arun 20

In [136]:
#Inventory management system using Factory classs - SOLID principle
from

**What is Functional Programming?**

Functional Programming(FP) is a programming paradigm that focuses on functions 
as the main building blocks of programs.
Instead of changing data or relaying on state, you transform data through funuctions.